@mixin card {
    background-color: white;
    box-shadow: 0px 3px 6px #aaaaaa;
    border-radius: 1em;
    overflow: hidden;
}

@mixin grid {
    display: grid;
    grid-gap: 1.5em;
}

@mixin btn {
    width: fit-content;
    border-radius: 5rem;
    background: linear-gradient(175deg, $secondary 15%, $primary);
    box-shadow: 0px 7px 7px #c0c0c0;
    padding: 1rem 1.5rem;
    color: white;
    font-weight: bold;
    transition: background .5s , box-shadow .2s ease-in-out;

    &:hover, &:active {
        background: linear-gradient(175deg, lighten($secondary, 5%) 15%, lighten($primary, 5%));
        box-shadow: 0px 7px 7px #929292;
    }
}

@mixin cesure {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

@mixin apparition {
    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {
        animation: 2s ease-in #{($i * .2)-.2}s apparition;
      }
    }
}