footer {
    .footer__heading {
        padding-bottom: 1.2em;
    }
    .list--utensils::before {
        @include listIcone;
        content: "\f2e7";
    }

    .list--hands::before {
        @include listIcone;
        content: "\f4c4";
    }

    background-color: $darkGray;
    padding: 1.5rem;
   
}