footer {

    .list--utensils::before {
        display: inline-block;
        width: 2em;
        font-family: FontAwesome;
        content: "\f2e7";
    }
    .list--hands::before {
        display: inline-block;
        width: 2em;
        font-family: FontAwesome;
        content: "\f4c4";
    }
}