.navbar {

    width: 100%;
    box-shadow: 0px 0px 5px #adadad;
    a {
        @extend .navbar;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

    }
}

.body--menu{
    .logo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        i{
            padding-left: 1.5rem;
        }
        span {
            grid-column: 2;
            justify-self: center;
        }
    }
}