.navbar {

    width: 100%;
    
    box-shadow: 0px 0px 5px #adadad;
    a {
        @extend .navbar;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .navbar__logo {
            width: 45%;
        }
    }
}