.card--plat {
    position: relative;

    @include card;
    @include apparition;
   
    span{
        padding: .3em 1em;
        vertical-align: middle;
    }

    .title {
        @include cesure;
        padding-top: 1em;
        font-size: 1.2em;
        font-weight: 800;
    }

    .sub-title {
        @include cesure;
        display: inline;
        padding-bottom: 1em;
    }
    
    .price {
        text-align: end;
        font-weight: 800;
    }
    
    input[type=checkbox], .checked{
        position: relative;
        display: none;
    }
   
    input[type=checkbox]:checked ~ .checked {
        @include flexCenterCenter;
        @include checked(valide);
        
        right: inherit;
        color: white;
        background-color: $tertiary;
        width: 100%;
        height: 100%;

        i {
            padding: 0 .5em;
            font-size: 1.5em;
            @include checked(rotation);
        }
        
    }
    @keyframes valide {
        from { right: -5em; } to { right: 0em; }
    }
    @keyframes rotation {
        from { transform: rotate(360deg); } to { transform: rotate(0deg); }
    }
    @keyframes disparition {
        from { opacity: 0; } to { opacity:0 }
    }
    @keyframes apparition {
        from { bottom: -1em; opacity: 0; } to { opacity:1; bottom: 0em; }
    }
}