.card--restaurant {
    @include card; 
    display: grid;
    grid-template-rows: 1fr .1fr;
    grid-template-columns: 1fr .1fr;
    a {
        width:100%;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    figure {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: .2fr 1.2fr .6fr;

        width: 100%;
        margin: inherit;
    }

    img {
        grid-column: 1;
        grid-row: 1;
        grid-row-end: span 2;
        grid-column-end: span 3;

        aspect-ratio: 1/.5;
        object-fit: cover;
        overflow: hidden;
    }

    figcaption {
        grid-column: 1 / span 2;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: .8em 1em;
    }

    button {
        grid-column: 2;
        grid-row: 2;
        text-align: end;
    }
    .new {
        grid-column: 3;
        grid-row: 1;

        background-color: $tertiary;
        color: $darkGreen;
        padding: .5em 1em;
        margin: 1em;
        border-radius: .2em;
        font-weight: 500;
    }
}