.header__button {
    @extend %text;
    @include btn;
    padding: 1em 1.5em;
}

.restaurant__button {
    @extend %text;
    @include btn;
    margin: 3em auto;
    padding: 1em 3em;
}

.button--heart {
    width: fit-content;
    
   
    .fa-heart {
        font-size: 1.5em;
        color: white;
        @include heart;
    }
}
.home__body {
    .button--heart {
        justify-self: end;
        align-self: flex-end;} 
}

.body--menu {
    .fa-heart{
        color: $lightGray;
        padding: 0;
        
        font-size: 1.8em;
    }
    
}
