.header__button {
    @extend %text;
    @include btn;
    padding: 1em 1.5em;
}

.restaurant__button {
    @extend %text;
    @include btn;
    margin: 3em auto;
}

.button--heart {
    width: fit-content;
    align-self: flex-end;
    justify-self: end;
    
    .fa-heart {
        font-size: 1.5em;
        color: white;
        @include heart;
    }
}

.body--menu {
    .fa-heart{
        color: $lightGray;
        padding-right: 0;
        font-size: 2.5em;
    }
}
