aside {

    ol {
    list-style: none;
    counter-reset: li;
    @include grid;
    
    }
    li::before {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 3em;
        width: 2rem;
        height: 2rem;
        margin: 1.5em 0px;
        text-align: center;
        direction: rtl;
        content: counter(li);
        color: white;
        background-color: #9356DC;
        
        
        border-radius: 50%;
    }

    li {
        counter-increment: li;
    }
}

.card--fonctionnement {
    @include card;
    overflow: inherit;

    height: 5em;

    display: flex;
    align-items: center;
    border-radius: 1.5em;
    vertical-align: middle;
    background-color: $lightGray;

    span {
        color: black;
        font-weight: 500;
        
        i {
            padding: 0px 1.5em 0px 3em;
        }
    }
}

.card--restaurant {
    @include card; 
    


    a {
        width:100%;
        
    }
    figure {
        width: 100%;
       
        margin: inherit;
        object-fit: cover;
        display: grid;
        overflow: hidden;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: .2fr 1fr .6fr;
        // grid-template-areas: 
        //     "img img  new"
        //     "img img new"
        //     "title title heart";
    }

    img {
        // grid-area: img;
        
        grid-column: 1;
        grid-row: 1;
        aspect-ratio: 1/.5;

        grid-row-end: span 2;
        grid-column-end: span 3;
        object-fit: cover;
        overflow: hidden;
    }
    figcaption {
        // grid-area: title;
        grid-column: 1 / span 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0px 1.5em;

        p{
            color: $darkGray;
            font-weight: 300;
        }
    }

    button {
        // grid-area: heart;
        grid-column: 3;
        text-align: end;
    

        .fa-heart {
            font-size: 1.5rem;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(0, 0, 0);
            transition : -webkit-text-fill-color 1s ease-in-out;
            padding: 1.5em;
        }

        .fa-heart:hover{
            -webkit-text-fill-color: $secondary;
            -webkit-text-stroke-color: inherit;
            color:$secondary
        }
    }
    .new {
        // grid-area: new;
        grid-column: 3;
        grid-row: 1;
        background-color: $tertiary;
        color: $darkGreen;
        padding: .5em 1em;
        margin: 1em;
        border-radius: .2em;
        font-weight: 500;
        
    }
}


.card--plat {
    @include card;
    @include grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "title title checked"
        "sub-title price checked";
    grid-gap: inherit;
    span{
        padding: 1em;
        vertical-align: center;
    }
    .title {
        grid-area: title;
    }
    .sub-title {
        grid-area: sub-title;
    }
    .price {
        grid-area: price;
    }

    input[type=checkbox], .checked{
        display: none;
    }
    
    input[type=checkbox]:checked ~ .checked {
        display: block;
        color: white;
        background-color: $tertiary;
        grid-area: checked;
        width: 100%;
        height: 100%;
    }
}
