.fonctionnement {
   
    ol {
    list-style: none;
    counter-reset: li;
    margin-left: 1em ;
    
    
    }
    li::before {
        @include flexCenterCenter;
        position: relative;
        left: -1em;
        width: 2em;
        height: 2em;
        aspect-ratio: 1/1;
        margin: 1.5em 0;
        text-align: center;
        direction: rtl;
        content: counter(li);
        color: white;
        background-color: #9356DC;
        border-radius: 50%;
        font-size: .8em;
    }

    li {
        counter-increment: li;
    }
}

.card--fonctionnement {
    @include card;
    overflow: inherit;

    height: 4em;

    display: flex;
    align-items: center;
    border-radius: 1.5em;
    vertical-align: middle;
    background-color: $lightGray;

    span {
        i {
            padding-right: 1em ;
        }
    }
}

.card--restaurant {
    @include card; 
    a {
        width:100%;
        
    }
    figure {
        width: 100%;
        margin: inherit;
    }

    img {
        aspect-ratio: 1/.5;
        object-fit: cover;
        overflow: hidden;
    }

    figcaption {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: .8em 1em;
    }

    button {
        text-align: end;
    }
    .new {
        background-color: $tertiary;
        color: $darkGreen;
        padding: .5em 1em;
        margin: 1em;
        border-radius: .2em;
        font-weight: 500;
    }
}


.card--plat {
    position: relative;

    @include card;
    @include apparition;
   
    span{
        padding: .3em 1em;
        vertical-align: middle;
    }

    .title {
        @include cesure;
        padding-top: 1em;
        font-size: 1.2em;
        font-weight: 800;
    }

    .sub-title {
        @include cesure;
        display: inline;
        padding-bottom: 1em;
    }
    
    .price {
        text-align: end;
    }
    
    input[type=checkbox], .checked{
        position: relative;
        display: none;
    }
   
    input[type=checkbox]:checked ~ .checked {
        @include flexCenterCenter;
        @include checked(valide);
        
        right: inherit;
        color: white;
        background-color: $tertiary;
        width: 100%;
        height: 100%;

        i {
            padding: 0 .5em;
            font-size: 1.5em;
            @include checked(rotation);
        }
        
    }
    @keyframes valide {
        from { right: -5em; } to { right: 0em; }
    }
    @keyframes rotation {
        from { transform: rotate(360deg); } to { transform: rotate(0deg); }
    }
    @keyframes disparition {
        from { opacity: 0; } to { opacity:0 }
    }
    @keyframes apparition {
        from { bottom: -1em; opacity: 0; } to { opacity:1; bottom: 0em; }
    }
}
