aside {
    ol {
    list-style: none;
    counter-reset: li;
    
    }
    li::before {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 3em;
        width: 2rem;
        height: 2rem;
        margin: 1.5em 0px;
        text-align: center;
        direction: rtl;
        content: counter(li);
        color: white;
        background-color: #9356DC;
        
        
        border-radius: 50%;
    }

    li {
        counter-increment: li;
        


    }
}
.card--fonctionnement {
    @include card;
    overflow: inherit;

    height: 5em;

    display: flex;
    align-items: center;
    border-radius: 1.5em;
    vertical-align: middle;

    margin-bottom: 1.5em;
    background-color: $lightGray;

    span {
        color: black;
        
        i {
            padding: 0px 1.5em 0px 3em;
        }
    }
}

.card--restaurant {
    @include card; 
    margin-bottom: 1.5em;  

    .fa-heart {
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        transition : -webkit-text-fill-color 1s ease-in-out;
    }

    .fa-heart:hover{
        -webkit-text-fill-color: $secondary;
    }
    a {
        width:100%;
        
    }
    figure {
        width: 100%;
        margin: inherit;
        object-fit: cover;
    }
    figcaption {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        padding: 1em;

        h3 {
            flex: 100%;
            padding-bottom: .5em;
        }
        p {
            flex: 2;
        }
    }
}
.card--plat {
    @include card;
}
