.header__search {
    max-width: inherit;
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: $mediumGray;
    padding: .7rem 5rem;
  
    label {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    input::placeholder {
        opacity: 1;
    }

    input[type=search] {
        @extend %text;
        width: 10em;
        padding: 0 .5em;
        
    }
}