.header__search {
    max-width: inherit;
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: $mediumGray;
    // padding: 0rem 5rem;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label i {
        padding: 0rem 1rem;
        -webkit-text-fill-color:$primary;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
   
     input::placeholder {
        opacity: 1;
       
    }
    input[type=search] {
        @extend %text;
        width: 35%;
        text-align: inherit;
        
    }
}