.header__search {
    max-width: inherit;
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: $mediumGray;
    padding: .7rem 5rem;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label {
        display: flex;
        
        justify-content: center;
        align-items: center;
    }

    label i {
        padding: 0rem 1rem;
    }
   
     input::placeholder {
        opacity: 1;
       
    }
    input[type=search] {
        @extend %text;
       width: fit-content;
        text-align: inherit;
        
    }
}