body {
    font-size: 4vw;
}



* {
    font-family: 'roboto', sans-serif;
}

h2, h3 {
    font-weight: 800;
}
h2 {
    font-size: 1.5rem;
    padding-bottom: 1em;
   
}
h3{
    font-size: 1.2rem;
    padding-bottom: .5em;
}

.logo, .restaurant__heading {
    font-family: 'shrikhand', sans-sertif;
    font-size: 2em;
}
.footer__heading {
    font-family: 'shrikhand', sans-sertif;
}
.restaurant__typesPlates{
    font-weight: 300;
    padding-top: 1em;
}