.restaurant__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 4fr;

    img {
        grid-row: 1;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

    .restaurant__form {
        grid-row: 2/ span 3;
    }
}